---
import { HomePage } from "../components/HomePage";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>prabhatexit0</title>
	</head>
	<body class="bg-zinc-950 text-gray-400 font-mono p-6 md:p-10 lg:p-10 flex flex-col items-center">
    <HomePage />
	</body>
</html>
